.aside-topics{
    display: flex;
    justify-content: space-between;
    padding:1rem;
}

.topic:hover {
    border: 2px solid deepskyblue;
    color: deepskyblue;
    background-color: black;
    padding: 0.2rem;
    border-radius: 10px;
}

@media only screen and (max-width:565px){
    .aside-topics{
        flex-direction: column;
        
    }
}