@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Paytone+One&display=swap');
/*
font-family: 'Amatic SC', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Teko', sans-serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Paytone One', sans-serif;
font-family: 'Exo', sans-serif;
*/

.quote{
    font-family: 'Exo', sans-serif;
    text-align: center;
    width: fit-content;
    font-size: 3rem;
    margin: auto;
    
}
#body-home{
    display: flex;
    flex-direction: column;
    }

#div-values{
    margin-top: 3rem;
}

.quote:hover {
    border: 2px solid deepskyblue;
    color: deepskyblue;
    background-color: black;
    border-radius: 10px;
}