body {
  overflow-x: hidden;

}

#body-about {
  width: 100%;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 1rem;
  position: absolute;
  top: 8rem;
}

#div-left,
#div-center,
#div-right {
  width: 33%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;

}

.summary-head {
  text-align: center;
  cursor: pointer;
}

.summary-head:hover {
  border: 2px solid deepskyblue;
  color: deepskyblue;
  background-color: black;
  border-radius: 10px;
}

.summary-title {
  list-style-type: "››› ";

}

.summary-title:hover {

  border: 2px solid deepskyblue;
  color: deepskyblue;
  background-color: black;
  border-radius: 10px;
}

.summary-subcat:hover {
  border: 2px solid deepskyblue;
  color: deepskyblue;
  background-color: black;
  border-radius: 10px;
}

#h1-about {
  text-align: justify;

}

summary {
  cursor: pointer;
  margin-top: 0.5rem;
  font-weight: bold;
}

.course-path {
  width: 3rem;
  height: 3rem;
}

p {
  font-size: 1rem;
  text-align: justify;
}


@media only screen and (max-width:728px) {
  #body-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  #div-left,
  #div-center,
  #div-right {
    width: 90%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

}

@media only screen and (max-width:566px) {
  #body-about {
    margin-top: 2rem;
  }
}

@media only screen and (max-width:488px) {

  #div-left,
  #div-center,
  #div-right {
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}

